:root{
  --white: #fff;
  --light-gray: #f0f0f0;
  --dark-gray: #6c6c6c;
  --black: #1e1e1e;
  --yellow: #f99c14
}
body{
  height: 100dvh;
  width: 100dvw;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
h1{
  text-align: center;
  text-decoration: overline underline;
  text-transform: uppercase;
  margin-top: 20px;
}
#calculator{
  display: grid;
  grid-template-areas:
  "display display display display"
  "clear clear clear divide"
  "seven eight nine multiply"
  "four five six subtract"
  "one two three add"
  "zero zero decimal equals";
  grid-template-columns: 100px 100px 100px 100px;
  gap: 0px;
  padding: 50px;
  padding-top: 10px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: var(--black);
  position: absolute;
  left: 34.5%;
}
#display{
  text-align: right;
}
.light-gray{
  background-color: var(--light-gray);
}
.dark-gray{
  background-color: var(--dark-gray);
  color: var(--white);
}
.yellow{
  background-color: var(--yellow);
  color: var(--white);
}
button{
  height: 100px;
  font-size: 35px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: transform 0.1s ease-in-out;
  border: 1px solid black;
}
button:active{
  transform: scale(0.95);
}
#answer {
  font-size: 50px;
  height: 70px;
}
#expression {
  font-size: 35px;
  height: 40px;
  color: var(--dark-gray);
}
#display {
  grid-area: display;
}
#divide {
  grid-area: divide;
}
#clear {
  grid-area: clear;
  background-color: 	#ff0808;
}
#divide {
  grid-area: divide;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#multiply {
  grid-area: multiply;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#subtract {
  grid-area: subtract;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#add {
  grid-area: add;
}
#zero {
  grid-area: zero;
}
#decimal {
  grid-area: decimal;
}
#equals {
  grid-area: equals;
}